<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/stylesheet.css" media="screen"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/stylesheet.css') }}">
    <title>Aviso Importante</title>
</head>
<body>
    <header>
        <h1> Projeto de Conclusão de Curso - Data Quality com Criptografia</h1>
    </header>
    <br>
    <h1>{{ mensagem }}</h1>
    <br>
    <a href="/">Voltar à página inicial</a>
</body>
</html>