<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--script type="module" src="myscript.js" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>-->
    <script src="{{ url_for('static', filename='../static/myscript.js') }}"></script>
    <script type="module" src="../static/myscript.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/stylesheet.css" media="screen"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/stylesheet.css') }}">
    <!--<link rel="stylesheet" type="text/css" href="../static/stylesheet.css" media="screen"/>-->
    <title>Data Quality</title>
</head>

<body>
    <div class="visualizacao"></div>
    <form action="/upload" method="POST" enctype="multipart/form-data"> <!-- Adicionado o atributo action e o método POST -->
        <div id="botaoArquivo">
            <label for="arquivo"> Envie seu arquivo (XLS, XLSX, CSV) </label>
            <input type="file" id="arquivo" name="arquivo" accept=".csv, .xlsx, .xls" multiple required> <!--Para usar no JS usar type="File", PY usar name="arquivo"-->
        </div>

        <p align="left" id="demo1"></p>
        <p align="left" id="demo2"></p>
        <p align="left" id="demo3"></p>
        <p align="left" id="demo4"></p>

        <h3> Formato de saída:
            <select id="formatoSaida" name="formatoSaida" required>
                <option value="null"></option>
                <option value="xlsx">.xlsx</option>  
                <!--<option value="xls">.xls</option>-->  
                <option value="csv">.csv</option>    
            </select>
        </h3>

        <legend>
            Deseja criptografar?
            <input type="checkbox" id="CriptoSim" name="CriptoSim" value="CriptoSim">
        </legend>

        <legend id="checkBoxCripto" align="left">
            Enviar por e-mail a criptografia e/ou arquivo? 
            <br> 
            <input type="radio" id="emailNao" name="emailNao" value="emailNao"> Sim 
            <input type="radio" id="emailChaveCriptoSim" name="emailNao" value="emailChaveCriptoSim"> Apenas a chave de criptografia 
            <input type="radio" id="nenhumaOpcao" name="emailNao" value="nenhum">Nenhuma opção 
        </legend>

        <button type="submit" id="Upload"> <!-- Adicionado type="submit" para enviar o formulário -->
            Enviar para tratamento
        </button>
    </form>

    <div id="popups" class="popup">
        <p> O arquivo será criptografado</p>
        <button id="close-popup-btn">Fechar pop-up</button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/xlsx/dist/xlsx.core.min.js"></script>

</body> 

</html>
