html {
  text-align: center;
  font-family: 'Segoe UI', sans-serif;
  font-size: large;
  background-color: #535353;
}

label, p, legend{
  color: aliceblue;
}

h1, h2, h3 {
  color: aliceblue;
  /*font-size: large;*/
  transform: translate(0%, 10%);
}

body {
  margin: auto;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rodape {
  border: 2px solid #000; /* Define uma borda sólida preta */
  padding: 10px; /* Adicione algum preenchimento para dar espaço entre o texto e a borda */
  border-radius: 10px;
}

form li, div > p {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  background: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  list-style-type: none;
  border: 10px solid black; 
}

form p {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  line-height: 35px;
  padding-left: 15px;
}

.cripto label, .cripto button {
  margin: auto;
  left: 50%;
  transform: translate(0%, 0%);
  background-color: #535353;
  padding: 5px 10px;
  border-radius: 8px;
  border: 2px ridge black;
  font-size: 0.8rem;
  height: fit-content;
  cursor: grab;
}

#formEnvioCampos{
  transform: translate(0%, -30%);
}

form label, form button{
  cursor: grab;
  margin: auto;
  left: 50%;
  transform: translate(0%, 0%);
  color: aliceblue;
  background-color: #535353;
  padding: 5px 10px;
  border-radius: 8px;
  border: 2px ridge black;
  font-size: 0.8rem;
  height: fit-content;

}

#botaoArquivo{
  display: grid;
  cursor: grab;
  justify-content: space-around;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid black;
  z-index: 9999;
}

.visualizacao{
  border: 2px solid #000; /* Define uma borda sólida preta */
  padding: 10px; /* Adicione algum preenchimento para dar espaço entre o texto e a borda */
  border-radius: 10px;
}

/* link que ainda não foi visitado */
a:link {
 color: aliceblue;
}

/* link que foi visitado */
a:visited {
   color: white;
}
